* {
    font-family: sans-serif;
}

body {
    background-color: rgb(91, 91, 91);
    display: flex;
    align-items: center;
    justify-content: center;
}

#body {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    height: 550px;
    width: 400px;
    background-color: rgb(76, 154, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#display {
    border: 3px solid black;
    border-radius: 15px;
    height: 80px;
    width: 330px;
    background-color: rgb(215, 215, 197);
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    overflow: hidden;
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.doubleButton {
    width: 165px;
}

.button {
    width: 70px;
}

.doubleButton,
.button {
    height: 70px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(226, 238, 250);
    font-size: 28px;
}